.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    z-index: 100;
}

.left-section {
    display: flex;
    align-items: center;
    justify-content: start;
}
.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
    cursor: pointer;
}
.youtube-logo {
    height: 20px;
    cursor: pointer;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 30px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}
.search-bar::placeholder {
    font-size: 16px;
}
.search-button {
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    cursor: pointer;
}
.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip {
    position: absolute;
    background-color: grey; 
    color: white;
    padding: 8px 6px;
    border-radius: 5px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
    opacity: 1;
}
.search-icon {
    height: 25px;
}
.voice-search-button {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgb(248, 248, 248);
    cursor: pointer;
}
.voice-search-icon {
    height: 25px;
    
}

.right-section {
    width: 180px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.upload-icon {
    height: 24px;
    cursor: pointer;
}
.youtube-apps-icon {
    height: 24px;
    cursor: pointer;
}
.notifications-icon {
    height: 24px;
    cursor: pointer;
}
.notifications-icon-container {
    position: relative;
    cursor: pointer;
}
.notifications-icon-count {
    position: absolute;
    top: -5px;
    right: -6px;
    background-color: rgb(200, 3, 3);
    color: white;
    font-size: 12px;
    padding: 2px 6px 1px 6px;
    border-radius: 20px;
}
.current-user-picture {
    height: 30px;
    border-radius: 16px;
    cursor: pointer;
}
